<!DOCTYPE html>

{% include "master.html" %}

<title>{% block title %} About us {% endblock title %}</title>
{% block css %} {% endblock css %}
{% block content%}
<div class="container mt-5">
<h1 class="text-center">About Us</h1>
<div class="card">
    <div class="card-body text-center">
        <b>"Order or Any Query or Bulk Order Price Ask"</b> Messeage me "HI" On:<b class="text-success"> <i class="fa fa-whatsapp text-success"></i><a href="whatsapp://tel:+916351714455" class="text-success"> +91 63517 14455</a></b>
    </div>
</div>
</div>
{% endblock content %}