<!DOCTYPE html>

{% include "master.html" %}

<title>{% block title %} Home {% endblock title %}</title>
{% block css %} 
<style>
.page-item.active .page-link  {
  background-color: black !important;
  border: none;
}
.page-link{
  color: black;
}
.page-link:hover{
  background-color: black;
  color: white;
}
</style>
{% endblock css %}
{% block content %}

  <!-- Page Content -->
  <div class="container mt-3">

    <div>
        <div class="card mb-3">
            <img src="\static\images\notes1.jpg" class="card-img-top" alt="...">
          </div>
    </div>
        <div class="row mt-3">
        {% for i in product_list %}
          <div class="col-lg-3 col-6 mb-4">
            {% if i.active == True %}
                <div class="card">
                <a href="{% url 'shop:product_view' i.id %}"><img class="card-img-top" src={{i.images1.url}} alt=""></a>
                <div class="card-body">
                    <h5 class="card-title">
                    <a href="{% url 'shop:product_view' i.id %}" style="text-decoration: none;">{{i.product_name}}</a>
                    </h5>
                    <h6>Wholesale Price: {{i.price}}/-</h6>
                    <h6 class="text-success"><b class="">Order On: </b><i class="fa fa-whatsapp"></i><a href="whatsapp://tel:+916351714455" class="text-success">+91 63517 14455</a></h6>
                    {% if i.created_date.date == timing %}
                      <h6 class="text-danger"><b>Buy Hurry Up!!!!</b> <img src="/static/images/new06p.gif"></h6>
                    {% else %}
                      <h6 class="text-danger"><b>Buy Hurry Up!!!!</b></h6>
                    {% endif %}
                </div>
                </div>
            {% endif %}
          </div>
          {% endfor %}
        </div>
        <!-- /.row -->


  </div>
  <!-- /.container -->

{% if product_list.has_other_pages %}
  <nav aria-label="Page navigation example mb-5">
    <ul class="pagination justify-content-center">
      {% if product_list.has_previous %}
      <li class="page-item">
        <a class="page-link " href="?page={{ product_list.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">Previous</span>
        </a>
      </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link " aria-label="Previous">
            <span>Previous</span>
          </a>
        </li>
      {% endif %}
      {% for i in product_list.paginator.page_range %}
      {% if product_list.number == i %}
        <li class="page-item active">
          <a class="page-link" href="#">
            <span class="box">{{ i }} <span class="sr-only" >(current)</span></span>
          </a>
        </li>
      {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ i }}">{{ i }}
            </a>
          </li>
      {% endif %}
      {% endfor %}

      {% if product_list.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ product_list.next_page_number }}"><span>Next</span></a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="disabled page-link">Next</a>
      </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}

{% endblock content %}
